body {
    background-color: #3e5676;
    color: white;
    font-family: sans-serif;
}

.locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location {
    display: inline-block;
    margin: 1em;
}

.location p {
    margin: 0.2em;
}

.location input {
    float: right;
    color: white;
    background-color: #3e5676;
    border: 0px solid #3e5676;
    border-bottom: 1px solid white;
}

#location-plus {
    display: inline-block;
    margin: 1em;
}

#location-plus button {
    width: 2em;
    background-color: #3e5676;
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
}